@font-face {
  src: url(../fuentes/Anton-Regular.ttf);
  src: url(../fuentes/YanoneKaffeesatz-Bold.ttf);
  src: url(../fuentes/Play-Regular.ttf);
}
body{
  background: #02010a;
}
header{
  background: #5b7989;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  width: 100%;
  margin: 0;
}
footer{
  background: #C6d5c5;
}


h1{
  font-family: 'Anton';
}
h2{
  font-family: 'Anton';
}
p{
  font-family: 'Yanone Kaffeesatz';
}
nav a{
  font-family: 'Play';
  color: white;
  font-size: 1.5em;
}
nav a:visited, nav a:active{
  text-decoration: none;
}
.central{
  text-align: center;
  vertical-align: middle;
  background-color:#82c3a6;


}
#central{
  background-color:#82c3a6;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  width: 60%;
  padding: 20px;
}
@media (min-width:900px) {
  #contenido{
    text-align: center;
    max-width: 900px;
  }
  h2{
    text-align: center;
  }
  nav a{
    
  }
}
@media (max-width:899px){
  #contenido{
    text-align: center;
    width: 100%;
  }
  h2{
    text-align: center;
  }
  nav a{
    float: none;
  }
}
